.board {
    border-radius: 12px;
    background: #242424;    
}

.border-title {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}