.modal-title {
    color: rgba(255, 255, 255, 0.90);
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.modal-subtitle {
    color: rgba(255, 255, 255, 0.70);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.modal-content {
    border-radius: 12px;
    background: #0B0B0B;
}