
.tab-button {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(7.5px);
}

.tab-button-active {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #FFF;
    backdrop-filter: blur(7.5px);
}

.tab-button-title {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tab-button-title-active {
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}