.background-color {
  background-color: transparent !important;
}

.header-plus {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(7.5px);
}
.my-project {
  color: #FFF;
  text-align: start;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}